<!-- <!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
    <p id=new></p>
        <p id=""></p>
            <button type="button" onclick="myClick()">Show message</button>
            <button type="button" onclick="myHide()">Hide message</button> 

        <p>
            <input type="button" id="toggle" onclick="buttonchangeText()" value = "Show">
        </p>
    
    <div class="textheader"> Welcome to BookChain </div>
        <div class="centered">
            
            <h1>Sign in for access</h1>
        <form action="/auth/index" method="GET">
            <p>
                <input type="email" id="email" placeholder="Your email" name="eamil" required />
            </p>
            <p>
                <input type="password" id="password" placeholder="Your password" name="password" required />
            </p>
            <p>
                <input class="button" type="submit" id="submit" value="submit">
            </p>
            <p>
                <a href="/signup">Click here to sigin-up</a>
            </p>
            </form>
        </div>
        <script src="/script.js"></script>
    </body>
</html> -->